# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dev-dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Capacitor
android/
ios/
capacitor.config.ts

# Temp assets
src/assets/nav1_*.png
src/assets/nav2_*.png
src/assets/sym_*.png
src/assets/sym_*.bmp
src/assets/sym_*.svg
src/assets/icon-*.bmp
src/assets/icon-*.png
